{% extends 'base.html' %}
{% block content %}
<h2>Профиль пользователя</h2>
<div class="card w-50 mx-auto">
  <div class="card-body">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Имя:</strong> {{ user.username }}</p>
    <p><strong>Телефон:</strong> {{ user.phone }}</p>
    <p><strong>Страна:</strong> {{ user.country }}</p>
    {% if user.avatar %}
      <img src="{{ user.avatar.url }}" alt="Аватар" class="img-thumbnail" style="max-width: 150px;" />
    {% endif %}
    <a href="{% url 'profile_edit' %}" class="btn btn-outline-primary mt-3">Редактировать профиль</a>
  </div>
</div>
{% endblock %}
