{% extends 'base.html' %}
{% block content %}
<h2>Рассылки</h2>
<a href="{% url 'mailing_create' %}" class="btn btn-success mb-3">Создать рассылку</a>
<table class="table table-striped w-75 mx-auto">
  <thead>
    <tr>
      <th>ID</th>
      <th>Статус</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    {% for mailing in object_list %}
    <tr>
      <td>{{ mailing.pk }}</td>
      <td>{{ mailing.get_status_display }}</td>
      <td>
      {% if not is_manager %}
    <a href="{% url 'mailing_update' mailing.id %}">Редактировать</a>
    <a href="{% url 'mailing_delete' mailing.id %}">Удалить</a>
    <a href="{% url 'mailing_send' mailing.id %}">Отправить</a>
{% else %}
    {% if mailing.status != 'завершена' %}
        <form method="post" action="{% url 'mailing_stop' mailing.id %}">
            {% csrf_token %}
            <button type="submit">Остановить рассылку</button>
        </form>
    {% endif %}
{% endif %}
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="3">Нет рассылок.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
